*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-inp: #ff0066;
    --bg-btn: #00f2fe
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    background: #3e0381ce;

}
.main .shape-01{
    
    width: 35%;
    /* height: 800px; */
    position: absolute;
    right: 0;
    top: 10%;
    animation: breathe 5s ease-in-out infinite;
    animation-delay: -2.5s;
}
.square-1{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(180deg, #f093fb 0%, #f5576c 100%);
    border-radius: 20px;
    animation: breathe 4s ease-in-out infinite;
    animation-delay: -2.5s;
}
.square-2{
    position: absolute;
    right: 5%;
    bottom: 15%;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 20px;
    animation: breathe 4s ease-in-out infinite;
    animation-delay: -2.5s;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh ;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.1);
}
.cards{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 80%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow:0 15px 25px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.title-card{
    color: var(--color-inp);
    position: absolute;
    top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.cards input{
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    height: 3em;
    width: 80%;
    outline: none;
    padding: 10px;
    font-size: 1.02em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-inp);
}
.btn-send{
    position: absolute;
    bottom:4%;
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: var(--bg-btn);
    color: #fff;
    font-size: 1.2em;
}
.btn-send:hover{
    background: #4facfe;
}
@keyframes breathe{
    0%,100%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-20px);
    }
}